.side-menu-container{
    position: relative;
    min-height: 100vh;
    width: 400px;
    flex-shrink: 0;
}

.side-menu-container{
    text-align: center;
}

.actions-container{
    width: 100%;
}

.clouds-container{
    position: relative;
    background-image: url('../../assets/imgs/Cloud-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.clouds-container .cloud-img{
    width: 250px;
    height: 250px;
}

@media (max-width:769px){
    .side-menu-container{
        width: 100%;
    }
}